{% extends 'core/include_base/base.html' %}

{% block title %}
Create
{% endblock %}

{% block page_header %}
   Cadastrar novo cliente
{% endblock %}

{% block content %}

<!--VERIFICAÇÃO DE MESSAGENS-->
{% if error_message %}
<div class="alert alert-danger alert-dismissible show" role="alert">
    {{ error_message }}

    {% for error in form.errors.values %}
        {{error}}
    {% endfor %}}

    <button type="button" class="close" style="color:white" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
{% endif %}

{% if success_message %}
<div class="alert alert-success alert-dismissible show" role="alert">
    {{ success_message }}
    <button type="button" class="close" style="color:white" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
</div>

{% endif %}
    <!-- MODAL -->
    <div class="modal modal-danger fade" id="modal-danger">
      <div class="modal-dialog">
        <div class="modal-content">

          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span></button>
            <h4 class="modal-title" id="modal_title"> Data inválida </h4>
          </div>

          <div class="modal-body">
            <p id="modal_body">Você deixou o campo em branco ou formato da data está inválido, (dd/mm/aaaa) corrija antes de enviar o formulário</p>
          </div>

        </div>
        <!-- /.modal-content -->
      </div>
      <!-- /.modal-dialog -->
    </div>
    <!-- /.modal -->

<!--CONTEUDO DA PÁGINA-->
<div class="row">
    <div class="col-xs-12">
        <div class="box box-success">
            
            <div class="box-body">
                <form id="form_create" action="{% url 'core:create' %}" method="POST">
                    <div class="row">
                        <div class="col-xs-6">
                            <fieldset>
                                <legend>Dados Pessoais</legend>
                                {% csrf_token %}
                                <div class="form-group">
                                    <label>{{ form.name.label }}</label>
                                    {{form.name}}
                                </div>
                                <div class="form-group">
                                    <label>{{ form.age.label }}</label>
                                    {{form.age}}
                                </div>
                                <div class="form-group ">
                                    <label>{{ form.sexo.label }}</label>
                                    {{form.sexo}}
                                </div>
                                <div class="form-group">
                                    <label>{{ form.rg.label }}</label>
                                    {{ form.rg }}
                                </div>
                                <div class="form-group">
                                    <label>{{ form.cpf.label }}</label>
                                    {{ form.cpf }}
                                </div>
                                <div class="form-group">
                                    <label>{{ form.email.label }}</label>
                                    {{form.email}}
                                </div>
                                <div class="form-group">
                                    <label>{{ form.data_nascimento.label }}</label>
                                    {{ form.data_nascimento }}
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-xs-6">
                            <fieldset>
                                <legend class="font-italic">Automovel</legend>
                                <div class="form-group">
                                    {{ form_auto.marca.label_tag }}
                                    {{form_auto.marca}}
                                </div>
                                <div class="form-group">
                                    {{ form_auto.modelo.label_tag }}
                                    {{form_auto.modelo}}
                                </div>
                                <div class="form-group">
                                    {{ form_auto.cor.label_tag }}
                                    {{form_auto.cor}}
                                </div>
                                <div class="form-group">
                                    {{ form_auto.ano.label_tag }}
                                    {{form_auto.ano}}
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary" style="margin-right:15px ">
                    <input type="reset" class="btn btn-default">
                </form>
            </div>
        </div>
    </div>
</div>
</div>
{% endblock %}

{% block Scripts %}
<script>
    $(document).ready(function(){
        function data_valida(date){
            var matches = /(\d{2})[-.\/](\d{2})[-.\/](\d{4})/.exec(date);
            if (matches == null) {
                return false;
            }
            return true
        }

        //- Arruma o campo nome
        $('#id_name').blur(function () {
            var name = $('#id_name').val()
            $('#id_name').val(capitalizeFirstLetter(name.trim()))
        })

        //Valida formato da data_nascimento
        $('#id_data_nascimento').blur(function (e) {
            var ipt = $(this)
            if (!data_valida(ipt.val())){
                $('#modal-danger').modal()
            }
        })
    })
</script>
{% endblock %}