{% extends 'core/base.html' %}


{% block title %}
    Create
{% endblock %}
    

{% block page_header %}
    Criar
{% endblock %}

{% block content %}

<!--VERIFICAÇÃO DE MESSAGENS-->
{% if errormessage %}
    <div class="alert alert-danger"> {{ errormessage }}</div>
{% endif %}

{% if successmessage %}
    <div class="alert alert-success alert-dismissible show" role="alert">
        O cliente <strong>{{ client.name }}</strong>, foi cadastrado com sucesso!!
        <button type="button" class="close" style="color:white" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
{% endif %}
<!--CONTEUDO DA PÁGINA-->
<div class="row">
    <div class="col-xs-8 col-xs-offset-1">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Criar novo cliente</h3>
            </div>
            <div class="box-body">
                <form action="{% url 'core:saveclient' %}" method="POST">
                    {% csrf_token %}
                        <div class="input-group">
                            <span class="input-group-addon"><b>Nome</b></span>
                            <!--<input required type="text" name="name" placeholder="Nome" class="form-control">-->
                            {{form.name}}
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon"><b>Idade</b></span>
                            <!--<input type="number" required placeholder="Idade" name="age" class="form-control">-->
                            {{form.age}}
                        </div><br>
                        <div class="form-group input-group">
                            <span class="input-group-addon"><b>Sexo</b></span>
                            <!--<input type="text" required placeholder="Sexo" name="sexo" class="form-control">
                            <select class="form-control" name="sexo">
                                <option value="Masculino">Masculino</option>
                                <option value="Feinino">Feminio</option>
                            </select>-->
                            {{form.sexo}}

                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon"><b><i class="fas fa-id-card"></i></b></span>
                            <!--<input type="text" required rg-mask name="rg" class="form-control">-->
                            {{ form.rg }}
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon"><b>CPF</b></span>
                            <!--<input type="text" required cpf-mask name="cpf" class="form-control">-->
                            {{ form.cpf }}
                        </div><br>
                        <div class="input-group">
                            <span class="input-group-addon"><b>@</b></span>
                            <!--<input type="email" required name="email" class="form-control">-->
                            {{form.email}}
                        </div><br>
                        <div class="form-group">
                            <div class="input-group">
                                <span class="input-group-addon"><b><i class="fas fa-calendar-alt"></i></b></span>
                                <!--<input type="text" datemask required name="data_nascimento" class="form-control datemask">-->
                                {{ form.data_nascimento }}
                            </div><br>
                        </div>
                        <input type="submit" class="btn btn-block btn-primary">
                </form>
            </div>  
        </div>
    </div>
</div>
{% endblock %}