{% extends 'core/base.html' %}
{% block title %}
    edit
{% endblock %}

{% block page_header %}
    Editar  
{% endblock page_header %}

{% block page_header_small %}
    Página de edição.
{% endblock  %}

{% block content %}
<div class="row">
    <div class="col-xs-8 col-xs-offset-1">
        <div class="box box-success">
            <div class="box-header with-border">
                <h3 class="box-title">Criar novo cliente</h3>
            </div>
            <div class="box-body">
                <form action="{% url 'core:edit' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <span class="input-group-addon"><b>Nome</b></span>
                        <input required type="text" name="name" placeholder="Nome" value="{{ client.name }}" class="form-control">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon"><b>Idade</b></span>
                        <input type="number" required placeholder="Idade" name="age" value="{{ client.age }}" class="form-control">
                    </div><br>
                    <div class="form-group input-group">
                        <span class="input-group-addon"><b>Sexo</b></span>
                        <!--<input type="text" required placeholder="Sexo" name="sexo" class="form-control">-->
                        <select class="form-control" name="sexo">
                            
                            <option value="Masculino">Masculino</option>
                            <option value="Feinino">Feminio</option>

                        </select>
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon"><b><i class="fas fa-id-card"></i></b></span>
                        <input type="text" required rg-mask name="rg" value="{{ client.rg }}" class="form-control">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon"><b>CPF</b></span>
                        <input type="text" required cpf-mask name="cpf" value="{{ client.cpf }}" class="form-control">
                    </div><br>
                    <div class="input-group">
                        <span class="input-group-addon"><b>@</b></span>
                        <input type="email" required name="email" value="{{ client.email }}" class="form-control">
                    </div><br>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><b><i class="fas fa-calendar-alt"></i></b></span>
                            <input type="text" value="{{ client.data_nascimento  }}" id="datemask" data-inputmask="'alias': 'dd/mm/yyyy'" data-mask required name="data_nascimento" class="form-control">
                        </div><br>
                    </div>
                    <input type="submit" class="btn btn-block btn-primary">
                </form>
            </div>  
        </div>
    </div>
    </div>
{% endblock  %}
    