<ul class="sidebar-menu" data-widget="tree">
  <li class="header">Menu</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="treeview {% if 'servico' not in request.path %} active {% endif %}">
    <a href="#"><i class="fas fa-list"></i> <span>Clientes</span>
      <span class="pull-right-container">
        <i class="fas fa-angle-left pull-right"></i>
      </span>
    </a>
    <ul class="treeview-menu">
        <li class="{% if request.path  == '/' %} active {% endif %}">
          <a class="" href="{% url 'core:index' %}"><span>Listar</span></a>
        </li>
        <li class="{% if request.path  == '/create/' %} active {% endif %}">
          <a href="{% url 'core:create' %}"><span>Novo</span></a>
        </li>
    </ul>
  </li>
  
  <li><a href="#"><i class="fas fa-link"></i> <span>Anather link</span> </a></li>

</ul>